{% extends 'base.html' %}

{% block content %}
<div class="clearfix" >
    <span class="left m-2" style="font-size: 20px;">Bienvenido, {{ nombre }} {{ ap_pat }} {{ ap_mat }}</span>
	<a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ next_month }} "> Siguiente Mes >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> << Mes Anterior </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendarapp:event_new' %}"> + Crear evento </a>
</div>
<div style="color: green;">
    {{ calendar }}
</div>
{% endblock %}